name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go
      
    - name: setup env
      run: |
        echo "::set-env name=GOPATH::$(dirname $GITHUB_WORKSPACE)"
        echo "::add-path::$(dirname $GITHUB_WORKSPACE)/bin"
      shell: bash

    - uses: actions/checkout@v1
      with:
        ref: add
        path: src/github.com/${{ github.repository }}

    - name: echo env
      run: |
        echo $(go env GOPATH)
        echo $(go env GOROOT)
        echo $PATH
    - name: go get
      run: |
        git config --global url."https://${{secrets.GITHUB_TOKEN}}:x-oauth-basic@github.com/".insteadOf "https://github.com/"
        go get -v -u ./...

    - name: Test
      run: go test ./... -v .
